.container{
  max-width: 1200px;
  margin: 0 auto;
  font-weight: bold;
}

.languages {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: orange; 
}

.nav {
  font-size: 20px;
}

.popular-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.popular-item {
  width: 180px;
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  text-overflow:ellipsis;
  height: 210px;
}

.item-index {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.item-img {
  width: 150px;
  border-radius: 50%;
}

.battle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-content: center;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 20px;
}

.home{
  align-items: flex-start;
}

.column label {
  font-size: 30px;
  margin: 10px;
}

.column #username {
  width: 48%;
  height: 2em;
}
.button {
  width: 200px;
  background: black;
  color: white;
  padding: 8px;
  border: none;
  margin: 10px auto;
  text-align: center;
}

.nav {
  display: flex;
}

.active {
  font-weight:bolder;
  color:darkorange;
}

.avatar {
  width: 150px;
  border-radius: 50%
}

.reset {
  color:indianred;
  cursor: pointer;
  border:none;
  background:none;
}

